.forside {
  background-color: rgb(248, 240, 212);
}

@media screen and (max-width: 800px) {
  /*************** menu burger *********************/
  .burger {
    color: darkblue;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
  .burger a {
    color: darkblue;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  /*************** forside_layout_mobil *********************/
  /******* header **********/
  .header_forside {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  header img {
    display: grid;
    grid-column: 1/6;
  }
  .streg1 {
    height: 40px;
    background-color: black;
    border: none;
    width: 100%;
    margin: 0;
    grid-column: 1/6;
    grid-row: 1/2;
    margin-top: px;
    z-index: 2;
  }

  .video {
    display: grid;
    grid-column: 1/6;
    grid-row: 1/3;
  }

  .streg2 {
    height: 40px;
    background-color: black;
    border: none;
    width: 100%;
    margin: 0;
    margin-top: -20px;
    grid-column: 1/6;
    grid-row: 3/4;
    z-index: 3;
  }

  .overskrift_forside {
    grid-column: 1/5;
    grid-row: 3/4;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 10px;
  }
  /******* main **********/
  .knapper_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .nyheder_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 1/2;
    margin-top: 5px;
    padding-bottom: 10px;
  }
  .lokation_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 2/3;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .shop_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 3/4;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .events_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 4/5;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
/*************** forside__web_layout *********************/
@media (min-width: 800px) {
  /******* header **********/
  .header_forside {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  header img {
    display: grid;
    grid-column: 1/6;
  }
  .streg1 {
    height: 80px;
    background-color: black;
    border: none;
    width: 95%;
    margin-left: 75px;
    grid-column: 1/6;
    grid-row: 1/2;
    margin-top: 1800px;
    z-index: 2;
  }

  .video {
    display: grid;
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .streg2 {
    height: 80px;
    background-color: black;
    border: none;
    width: 85%;
    margin: 0;
    margin-top: -1550px;
    grid-column: 1/6;
    grid-row: 3/4;
    margin-left: 230px;
    z-index: 3;
  }
  .menu {
    display: grid;
    grid-column: 1/6;
    grid-row: 2/3;
  }

  .menu {
    display: flex;
    list-style: none;
    margin-left: 50px;
    padding: 0;
    font-size: 5rem;
    margin-top: 70px;
  }

  .menu li {
    margin-right: 15px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }
  .overskrift_web {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-left: 15px;
    margin-right: 10px;
    z-index: 3;
    margin-top: -1300px;
  }
  /******* main **********/
  .forside_titel {
    margin-left: 1000px;
    font-size: 3rem;
    margin-top: px;
    z-index: 4;
  }
  .knapper_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .nyheder_forside {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-inline: 300px;
    margin-bottom: 300px;
    margin-top: -800px;
  }
  .lokation_forside {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-inline: 300px;
    margin-bottom: 300px;
    margin-top: -800px;
  }

  .shop_forside {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    padding-inline: 300px;
    margin-bottom: 300px;
    margin-top: -300px;
    margin-right: 50px;
  }
  .events_forside {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-inline: 300px;
    margin-bottom: 300px;
    margin-top: -300px;
    margin-left: 50px;
  }
  /******* footer **********/
  .streg3 {
    height: 80px;
    background-color: black;
    border: none;
    width: 90%;
    margin-left: 150px;
  }
  .streg4 {
    height: 80px;
    background-color: black;
    border: none;
    width: 90%;
    margin-left: 150px;
    margin-top: 500px;
    margin-bottom: 70px;
  }
}
