body {
  background-color: rgb(248, 240, 212);
}

@media screen and (max-width: 800px) {
  /*************** menu burger *********************/
  .burger {
    color: darkblue;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
  .burger a {
    color: darkblue;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  /*************** forside_layout_mobil *********************/
  /******* header **********/
  .header_forside {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  header img {
    display: grid;
    grid-column: 1/6;
  }
  .tyk-streg1 {
    height: 70px;
    background-color: black;
    border: none;
    width: 100%;
    margin: 0;
    grid-column: 1/6;
    margin-top: -570px;
    z-index: 2;
  }

  .video {
    display: grid;
    grid-column: 1/6;
    grid-row: 1/3;
  }

  .tyk-streg2 {
    height: 70px;
    background-color: black;
    border: none;
    width: 100%;
    margin: 0;
    grid-column: 1/6;
    margin-top: -320px;
    z-index: 2;
  }

  .overskrift_forside {
    grid-column: 1/5;
    margin-top: -230px;
    margin-left: 20px;
  }
  /******* main **********/
  .knapper_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .nyheder_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 1/2;
    margin-top: -50px;
    padding-bottom: 30px;
  }
  .lokation_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 2/3;
    padding-bottom: 50px;
  }

  .shop_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 3/4;
    padding-bottom: 50px;
  }
  .events_forside {
    display: grid;
    grid-column: 2/6;
    grid-row: 4/5;
    padding-bottom: 50px;
  }

  /*************** forside_mobil *********************/
}
