/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* Burgermenu kopires og sættes ind her */

/* Info tekst og overskfrigft */

.infoh1  {
  text-align: center;
  margin: 20px;
}

.infop {
  text-align: center;
  margin: 20px
}

