/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* Info tekst og overskfrigft */

.infoh1  {
  text-align: center;
  margin: 20px;
}

.infop {
  text-align: center;
  margin: 20px
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
  margin: 10px auto;
  max-width: 850px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* TESKT */

h1 {
  text-align: center;
  margin-top: 10px;
  font-family: "Goblin One", serif;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Goblin One", serif;
}

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 27px;
  font-family: "Hepta Slab", serif;
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  display: flex;
}



/* note: det er lidt svært at læse teksten */
.åbningstiderteskt {
  background-image: url(Img/åbningstiderpic.PNG);
  width: 100%;
  background-size:cover;
  filter: grayscale(70%);
  position: relative;
  text-align: center;
  padding:20px;
  margin-bottom: 70px;

 } 

 .åbningstiderteskt:hover {
  filter: grayscale(0%);
  transition: filter 0.5s;
}

.påbningstider {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 20px;
  letter-spacing: 0.9px;
  color: rgba(116, 10, 6, 1);
-webkit-text-stroke-color:  rgba(000, 0, 0, 1);
-webkit-text-stroke-width: 1px; 
margin-bottom: 20px;
}



 /* MOBIL */

@media (max-width: 849px) {


h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: "Goblin One", serif;
  font-size: 25px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Goblin One", serif;
   font-size: 25px;
}

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 27px;
  font-family: "Hepta Slab", serif;
  line-height: 1.5rem;
}

.adressetekst{
  margin-bottom: 70px;
}

.atags {
  border: 5px solid rgba(116, 10, 6, 1);
}

.atags a:hover {
  color: rgba(116, 10, 6, 1);
}
a {
  color: black;
}
}


/* DESCTOP */

@media (min-width:850px){

.adressetekst {
  margin: 20px;
  justify-content:center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

}
