/****************** Mobil site ****************/

.boks {
  background-color: rgba(116, 10, 6, 1);
  width: 350px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.8rem;
  color: rgba(240, 235, 216, 1);
  border: 3px solid black;
  font-family: "Goblin One", serif;
}

p {
  font-size: 1.2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 1.4rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 2rem;
}

.grid_1-1-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.grid_1-1-1 img {
  width: 85%;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

main a {
  display: block;
  text-decoration: none;
  font-family: "Hepta Slab", serif;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

main a:hover {
  text-decoration: underline;
  color: rgba(116, 10, 6, 1);
}

.links {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/************** Galleri **********************/

.galleri {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 4rem;
}

.galleri img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: all 0.3s;
  filter: grayscale(70%);
}

@media screen and (max-width: 640px) {
  .galleri {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 1rem;
  }
}

/** Hovereffekt på billeder og hvor stort billedet bliver **/
.galleri img:hover:not(.full) {
  transform: scale(1.2);
  filter: none;
}
.galleri img {
  padding: 20px;
}

/***************** Desktop ********************/

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .boks {
    margin: 5px auto;
  }
}
