.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.video {
  display: grid;
  grid-column: 1/5;
}

.menu {
  display: grid;
  grid-column: 1/5;
}
