/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*******************************************/

body {
  background-color: rgb(240, 235, 216);
}

/**************** Baggrundsramme ****************/

#ramme {
  background: url(Img/top_ramme.svg) center top no-repeat, url(/Img/bund_ramme.svg) center bottom no-repeat;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-size: 90%, 90%;
}

/************ Font ***********/
.goblin-one-regular {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-style: normal;
}

.ancizar-serif-brødtekst {
  font-family: "Ancizar Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.hepta-slab-brødtekst {
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  font-style: normal;
}

/********* Tekst ********/

h1 {
  text-align: center;
  margin-top: 10px;
  font-family: "Goblin One", serif;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Goblin One", serif;
}

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 27px;
  font-family: "Hepta Slab", serif;
}

/***************** Menu (menuen er fra undervisning med små justeringer) ********************/
header {
  background-color: rgba(240, 235, 216, 1);
  padding-top: 2rem;
}

.logo {
  margin-left: 3rem;
  margin-right: 3rem;
}

.navbar {
  padding: 20px 50px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between; /* Centrerer vandret */
  padding: 10px 10px;
  margin: 0 auto;
  max-width: 1200px;
}

.menu a {
  text-decoration: none;
  font-family: "Ancizar Serif", serif;
  color: black;
  font-weight: 650;
  font-size: 1.8rem;
}

.menu a:hover {
  color: rgba(116, 10, 6, 1);
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  header {
    display: flex;
    padding: 1rem;
  }

  .logo {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar {
    padding: 0 5px;
    margin-right: 1rem;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(240, 235, 216, 1);
    position: absolute;
    top: 10%;
    left: 8%;
    width: 84%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  /* Gør indholdet bag burgermenuen slørret*/
  .menu-open .indhold {
    opacity: 30%;
  }
}

/************** footer *******************/

footer {
  background-color: black;
  color: rgb(240, 235, 216);
  line-height: 40px;
  margin-top: 30px;
  padding: 1rem;
}

footer img {
  width: 30px;
}

footer .flex {
  display: flex;
  gap: 10px;
}

footer a {
  display: block;
  color: rgb(240, 235, 216);
  text-decoration: none;
  font-size: 1rem;
}

footer a:hover {
  text-decoration: underline;
}

footer h4 {
  text-decoration: underline;
  font-size: 1.1rem;
  font-family: "Ancizar Serif", serif;
}

footer p {
  text-align: left;
  color: rgb(240, 235, 216);
  margin: 0;
  font-size: 1rem;
  font-family: "Ancizar Serif", serif;
}

.footer_grid {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.footer_col {
  margin-top: 2rem;
}

@media (min-width: 1000px) {
  .footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-left: 10%;
    margin-right: 8%;
    align-items: center;
  }

  .footer_col {
    margin-top: 0;
  }
}
