/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*******************************************/

body {
  background-color: rgb(240, 235, 216);
}

footer {
  background-color: black;
  color: rgb(240, 235, 216);
  line-height: 35px;
  margin-top: 30px;
}

.footrtekst {
  display: flex;

}

footer a {
  color: rgb(240, 235, 216);
}

/**************** Baggrundsramme ****************/

#ramme {
  background: url(Img/top_ramme.svg) center top no-repeat, url(/Img/bund_ramme.svg) center bottom no-repeat;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-size: 90%, 90%;
}

/************ Font ***********/
.goblin-one-regular {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-style: normal;
}

/********* Tekst ********/

h1 {
  text-align: center;
  margin-top: 10px;
  font-family: "Goblin One", serif;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Goblin One", serif;
}

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 27px;
}
