.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header_forside {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
header img {
  display: grid;
  grid-column: 1/6;
}
.video {
  display: grid;
  grid-column: 1/5;
}

.menu_forside {
  display: grid;
  grid-column: 1/5;
}
